@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', 'Noto Sans TC', system-ui, sans-serif;
        line-height: 1.5;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

@layer utilities{
    .active{
        max-height: 100px;
    }
}
